node-red/flows.json
[{"id":"c11da1fa.e569d","type":"tab","label":"demo-iot","disabled":false,"info":""},{"id":"bcae1bce.078788","type":"debug","z":"c11da1fa.e569d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"1088ef86.c7be","type":"mqtt in","z":"c11da1fa.e569d","name":"","topic":"#","qos":"2","datatype":"auto","broker":"840d7fcb.58532","x":180,"y":140,"wires":[["bcae1bce.078788"]]},{"id":"cef6c1d4.ce5c4","type":"comment","z":"c11da1fa.e569d","name":"Debug mensajes al broker MQTT","info":"","x":260,"y":100,"wires":[]},{"id":"36148f4.bc2337","type":"inject","z":"c11da1fa.e569d","name":"Enciende","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":200,"y":200,"wires":[["4f37d0e.b75503"]]},{"id":"4f37d0e.b75503","type":"mqtt out","z":"c11da1fa.e569d","name":"","topic":"demo/led/2","qos":"","retain":"","broker":"840d7fcb.58532","x":430,"y":200,"wires":[]},{"id":"e67c020d.7e49c","type":"inject","z":"c11da1fa.e569d","name":"Apaga","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":240,"wires":[["4f37d0e.b75503"]]},{"id":"6155ef11.352f2","type":"comment","z":"c11da1fa.e569d","name":"Programación","info":"","x":190,"y":340,"wires":[]},{"id":"b74dc2a3.786e4","type":"inject","z":"c11da1fa.e569d","name":"","props":[{"p":"payload","v":"Hola Grupo","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola Grupo","payloadType":"str","x":210,"y":280,"wires":[["3bb971d.d22568e"]]},{"id":"3bb971d.d22568e","type":"function","z":"c11da1fa.e569d","name":"Manda a grupo","func":"mensaje = msg.payload;\nchat = \"-1001152177355\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["2438d21a.f8389e"]]},{"id":"2438d21a.f8389e","type":"telegram sender","z":"c11da1fa.e569d","name":"Manda Mensaje","bot":"2f968c77.ffdb44","x":660,"y":280,"wires":[[]]},{"id":"a9075537.2316f8","type":"mqtt in","z":"c11da1fa.e569d","name":"","topic":"demo/alerta/#","qos":"2","datatype":"auto","broker":"840d7fcb.58532","x":200,"y":440,"wires":[["9da52ddb.dd1f4"]]},{"id":"1024242e.1ff39c","type":"function","z":"c11da1fa.e569d","name":"Manda a grupo","func":"chat = \"-1001152177355\"\nusuario = msg.topic.substring(12);\nmensaje = msg.payload + \" desde usuario \" + usuario;\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":440,"wires":[["2438d21a.f8389e"]]},{"id":"9da52ddb.dd1f4","type":"rbe","z":"c11da1fa.e569d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":440,"wires":[["1024242e.1ff39c"]]},{"id":"d62e8a87.cf8a18","type":"ui_chart","z":"c11da1fa.e569d","name":"","group":"4767552a.548b8c","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":620,"wires":[[]]},{"id":"d71e21f9.0c763","type":"ui_gauge","z":"c11da1fa.e569d","name":"","group":"4767552a.548b8c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":580,"wires":[]},{"id":"66eccf17.7595a","type":"comment","z":"c11da1fa.e569d","name":"Dashboard","info":"","x":190,"y":520,"wires":[]},{"id":"7a7ef2a5.54d35c","type":"mqtt in","z":"c11da1fa.e569d","name":"","topic":"demo/temperatura/2","qos":"2","datatype":"auto","broker":"840d7fcb.58532","x":220,"y":580,"wires":[["d71e21f9.0c763","d62e8a87.cf8a18"]]},{"id":"4a653a7c.c66da4","type":"mqtt out","z":"c11da1fa.e569d","name":"","topic":"demo/led/2","qos":"","retain":"","broker":"840d7fcb.58532","x":430,"y":680,"wires":[]},{"id":"54683928.6a8248","type":"ui_switch","z":"c11da1fa.e569d","name":"","label":"switch","tooltip":"","group":"dd6e8d31.5abb4","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":680,"wires":[["4a653a7c.c66da4"]]},{"id":"fbbd2eff.aad3d","type":"mqtt in","z":"c11da1fa.e569d","name":"","topic":"demo/led/2","qos":"2","datatype":"auto","broker":"840d7fcb.58532","x":120,"y":680,"wires":[["54683928.6a8248"]]},{"id":"ad8d7d2c.ecd14","type":"ui_chart","z":"c11da1fa.e569d","name":"","group":"baf8e1ed.bd554","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":800,"wires":[[]]},{"id":"35c3e70b.2131d8","type":"ui_gauge","z":"c11da1fa.e569d","name":"","group":"baf8e1ed.bd554","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":760,"wires":[]},{"id":"b61b7c5c.f5392","type":"mqtt in","z":"c11da1fa.e569d","name":"","topic":"demo/temperatura/M5","qos":"2","datatype":"auto","broker":"840d7fcb.58532","x":210,"y":760,"wires":[["35c3e70b.2131d8","ad8d7d2c.ecd14"]]},{"id":"840d7fcb.58532","type":"mqtt-broker","z":"","name":"MyQTTHub","broker":"node02.myqtthub.com","port":"8883","tls":"","clientid":"demo-iot-node-red","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f968c77.ffdb44","type":"telegram bot","z":"","botname":"aprendiendoarduino_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4767552a.548b8c","type":"ui_group","z":"","name":"Temperatura","tab":"d0577b52.d8e6a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd6e8d31.5abb4","type":"ui_group","z":"","name":"Rele","tab":"d0577b52.d8e6a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"baf8e1ed.bd554","type":"ui_group","z":"","name":"Temperatura M5","tab":"d0577b52.d8e6a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d0577b52.d8e6a8","type":"ui_tab","z":"","name":"demo-iot","icon":"computer","order":13,"disabled":false,"hidden":false}]